@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

/**  este es la parte de abajo **/
.container {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    padding: var(--padding-container);

}

/**  este es la parte de arriba o toda creo  background-color: #001A49;**/
.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    min-height: 800px;
    position: relative;
    display: grid;

    grid-template-rows: 100px 1fr;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /** linear-gradient(180deg, #0000008c 0%, #0000008c 100%)**/
    background-image: url('../IMAGES/piramide.jpg');
    background-size: cover;
    clip-path: inset(10% 0 0% 0);
    z-index: -1;
}
/* NAV */
/* .nav {
    top: 0;
    display: flex;
    --padding--containter: 0;
    background-color: #001A49;

} */ 

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__links{
    color: black;
    text-decoration: none;
    
}

.nav__items{
    list-style: none;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;

}

.nav__links{
    color: black;
    text-decoration: none;
}

/* NAV  por aqui debe de estar la x*/ 
.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display:block;
    width: 30px;

}

.nav__close{
    display: var(--show , none)
}

/* HERO CONTAINER */

.hero__container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 20px;
}
/* ES EL BOTON AZUL */ 
.cta{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;

}

